body{font-size:14px}
  h1{font-size:2.5em}
  h2{font-size:1.5em;text-transform:uppercase}
  .navbar .navbar-nav .nav-item .nav-link{color:#999;font-size:1em;font-weight:bold}
    .navbar .navbar-nav .nav-item .nav-link:hover{color:#fff}
.carousel-control-next{position:inherit;margin:10px auto}
.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}
.carousel-inner .carousel-control-next{opacity:1}
  .carousel-inner .carousel-control-next .material-icons{font-size:36px;height:36px;position:inherit}
  .carousel-inner ul{font-size:1.125rem;line-height:1.5em;list-style-type:none;padding:0}
  .carousel-inner ul.grey{color:#eee}
  .carousel-inner ul a{color:#e89b35;font-size:1.2rem!important}
    .carousel-inner ul a:hover{text-decoration:underline}
  .carousel-inner ul .material-icons{font-size:1rem;font-weight:bold;position:relative;top:2px}
  .carousel-inner .carousel-control-next .btn{margin-top:36px;padding:24px 36px}
  #carousel_ids a{font-size:1.5em;z-index:99}
  #accordion .card-header{background:none;border:none;margin:8px 0;padding:8px}
    #accordion .card-header h6{margin:0;padding:5px 10px}
    #accordion .card-collapse .card-header a{color:#fff;text-transform:capitalize}
    #accordion .card-collapse .card-header a.collapsed{color:#999}
    #accordion .card-collapse .card-header a i{top:-4px}
  .bottom{position:fixed;bottom:20px;left:50%;right:50%}
  .card-collapse .card-body{padding:0 50px 0 25px}
  .carousel .card .card-body{max-width:none;min-height:auto}
.btn.btn-danger{background-color:rgb(221, 0, 0)}

@media all and (max-width: 1024px) {
  h1{font-size:2em!important}
  h2{font-size:1.2em!important}
  h4{font-size:1.1em!important}
  .carousel-inner ul{font-size:1.1em!important}
  .carousel-inner ul a{font-size:1em!important}
  #carousel_ids a{font-size:1em}
  .carousel-inner .carousel-control-next .btn{margin-top:18px;padding:12px 24px}
  .navbar .navbar-nav .nav-item .nav-link{font-size:.9em}
  .navbar .navbar-nav .nav-item .nav-link:hover{color:#000}
}
h4 a{font-size:1.2rem!important;color:#e89b35}
h4 a:hover{color:#e89b35;text-decoration:underline}
h5{color:#ccc}

.carousel.carousel-fade .carousel-item.active{opacity:1!important;z-index:1}
.carousel, .carousel-inner, .carousel-item{height:100%}

.navbar .container.col-md-12{padding:0 10%}
.card{color:#fff}
.card .card-header-danger{box-shadow:none}

.nav-tabs-navigation .nav li a{font-weight:bold!important;font-size:1.1em!important}

.card-title, .footer-big h4, .footer-big h5, .footer-brand, .info-title, .media .media-heading, .title{font-family:Roboto,Helvetica,Arial,sans-serif}

@media (min-width:280px){
.page-header .container{padding:0 15%;max-width:100%}
}

/* Bootstrap css */
.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}
